 <div class="modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">X</a>
    <h3>Upload Modal</h3>
  </div>
  <div class="modal-body">
    <form id="upload" method="post" action="" enctype="multipart/form-data">
            <div id="drop">
                Drop Here
                <a>Browse</a>
               
                <input type="hidden" name="firstname"/>
                <input type="hidden" name="lasttname"/>
                <input type="hidden" name="address"/>
                <input type="hidden" name="contactid" />
                <input type="hidden" name="phone"/>
                <input type="hidden" name="country"/>
                <input type="hidden" name="relationshipid"/>
                
                <input type="file" name="file" id="file"/>

            </div>
        </form>
  </div>
  <div class="modal-footer">
  </div>
</div>