<!-- Main hero unit for a primary marketing message or call to actions -->
<div class="row">
    <div class="span4 offset2">
        <div class="row"><img src="http://placehold.it/300x205" /></div>
    </div>
    <div class="span4 login">
        <div class="row">
            <div class="login-form well">
                <h2>Login</h2>

                <form action="">
                    <fieldset>
                        
                        <div class="control-group">
                            <div class="clearfix controls">
                                <input type="text" placeholder="Username" name="username" id="username" data-error-style="inline"/>
                            </div>
                        </div>
                         <div class="control-group">
                             <div class="clearfix controls">
                            <input type="password" placeholder="Password" name="password" id="password" data-error-style="inline"/>
                            </div>
                         </div>
                       
                            <div class="controls">
                                <button class="btn btn-large primary" type="submit" name="sign-in">Sign in</button>
                            </div>
                        
                      
                    </fieldset>
                      <br />
                     <div><p>Username: <b>joel</b> <br /> Password: <b>capillo</b></p></div>
                </form>
                
            </div>
        </div>
    </div>
</div>