@{
    ViewBag.Title = "Contact Application";
}


<section class="page">LOADING....</section>
<footer class="footer"></footer>

<!-- /.container -->
<div id="logger"></div>
<!-- /.logger -->
<script data-main="/app/js/main.js" src="~/app/js/libs/require/require.js"></script>